:root {
    --color-primary   : #6d9886;
    --color-secondary : #f2e7d5;
    --color-dark      : #282b31;
    --color-light     : #f7f7f7;
    /* Notification Color */
    --color-red       : #e62727;
    --color-green     : #27e67d;
    --color-yellow    : #e6b327;
    --color-blue      : #2764e6;
    /* Process Color */
    --color-danger    : #d44e4e;
    --color-success   : #66a76b;
    --color-warning   : #e2a156;
    --color-info      : #63d6da;
    /* Advance Color */
    --color-gray      : #c0c0c0;
    --color-light-gray: #ececec;
    --color-dark-gray : #949494;
    --color-slate     : #4b5563;
    --color-dark-slate: #373e47;

    --color-white     : #FFFFFF
    --color-black     : #000000

    /* Badge Color */
    --color-badge-danger            : #f57d7d;
    --color-badge-danger-dark       : #8b2626;
    --color-badge-danger-foreground : #5a1919;
    --color-badge-success           : #98e4a7;
    --color-badge-success-dark      : #1f7e32;
    --color-badge-success-foreground: #114d1d;
    --color-badge-warning           : #f0c073;
    --color-badge-warning-dark      : #97822b;
    --color-badge-warning-foreground: #5f511a;
    --color-badge-info              : #84e2e2;
    --color-badge-info-dark         : #256985;
    --color-badge-info-foreground   : #11374d;
}

/* Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-gray);
}

.dark .custom-scrollbar {
    scrollbar-color: var(--color-slate) transparent;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-slate);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-gray);
}

/* Danger */
.badge-danger {
    background-color: color-mix(in srgb, var(--color-badge-danger) 50%, transparent);
    color: var(--color-badge-danger-foreground);
}

.dark .badge-danger {
    background-color: color-mix(in srgb, var(--color-badge-danger-dark) 50%, transparent);
    color: var(--color-badge-danger);
}

/* Warning */
.badge-warning {
    background-color: color-mix(in srgb, var(--color-badge-warning) 50%, transparent);
    color: var(--color-badge-warning-foreground);
}

.dark .badge-warning {
    background-color: color-mix(in srgb, var(--color-badge-warning-dark) 50%, transparent);
    color: var(--color-badge-warning);
}

/* Success */
.badge-success {
    background-color: color-mix(in srgb, var(--color-badge-success) 50%, transparent);
    color: var(--color-badge-success-foreground);
}

.dark .badge-success {
    background-color: color-mix(in srgb, var(--color-badge-success-dark) 50%, transparent);
    color: var(--color-badge-success);
}

